body {
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 0%;
}

a .home {
    position: absolute;
    padding-top: 15px;
    display: block;
    padding-left: 40px;
}

a .homee {
    padding-top: 15px;
    display: block;
    padding-left: 40px;
}

a .profile {
    position: absolute;
    display: block;
    margin-left: 94vw;
    padding-top: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #469B4C;
    padding-left: 15vw;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#home {
    margin: 0%;
    height: 50vw;
    display: block;
    justify-content: center;
    background-image: url(source/bg-image.png);
    background-size: cover;
}

li a:hover {
    background-color: #307935;
    color: #469B4C;
}



.main p {
    position: absolute;
    width: 451px;
    height: 69px;
    left: 456px;
    top: 292px;
    font-family: Helvetica Neue LT;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.carousel {
    width: 10vw;
}

.profil {
    display: grid;


}

.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container {
    width: 100vw;
}

#artikel {
    height: 100vh;
}